mixin button-ripple(options) 
  - let {text="text", small=true, green=true, bRipple=false, fillGreen=false, fillRed=false} = options;
  - let butRipple = "button-ripple";
  - let ripple = "element-ripple";
  - ripple += bRipple ? " js-ripple" : "" ;
  - butRipple += small ? " button-ripple__element_size_small" : "" ;
  - butRipple += green ? " button-ripple__element_color_green" : " button-ripple__element_color_red" ;
  - butRipple += fillGreen ? " button-ripple__element_color_fill-green" : "" ;
  - butRipple += fillRed ? " button-ripple__element_color_fill-red" : "" ;

  button(class= butRipple)= text
    div(class= ripple)
      span.element-ripple__circle