include blocks/site-blocks/contacts-site/contacts-site

doctype html
html
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width, shrink-to-fit=no")
    link( rel="apple-touch-icon" sizes="180x180" href=require("./favicons/apple-touch-icon.png"))
    link( rel="icon" type="image/png" sizes="32x32" href=require("./favicons/favicon-32x32.png"))
    link( rel="icon" type="image/png" sizes="16x16" href=require("./favicons/favicon-16x16.png"))
    link( rel="manifest" href="favicons/site.webmanifest")
    link( rel="mask-icon" href=require("./favicons/safari-pinned-tab.svg") color="#5bbad5")
    meta( name="msapplication-TileColor" content="#2d89ef")
    meta( name="theme-color" content="#ffffff")
    title UI-KIT
  body
    +contacts-site({siteHeader:{headTitle: "Зубы на полку", menu:[{link: "discount.html", title: "скидки и акции"}, 
    {link: "recording.html", title: "запись на прием"}, {link: "online.html", title: "онлайн консультация"}, 
    {link: "contacts.html", title: "контакты"},{link: "staff.html", title: "наши врачи"}]},
    headCont: "контакты", phone:[{tel:"9 999 999-999-9"}, {tel:"9 999 999-555-5"}, {tel:"9 999 999-333-3"}],
    email:"zubynapolku@mail.com" , headerText:"оставьте отзыв", text:{placeholder:"Дополнительная информация", name:"form"},
    button:{name: "отправить", small: false, green: true}, map:{marker:require("./blocks/map/img/marker.png"), lat:"59.966584",
    lng:"30.374066", zoom: 8, city:"Санкт-Петербург", title:"Где то тут!"} })