include blocks/site-header/site-header
include blocks/header/header
include blocks/percent/percent
include blocks/range-slider/range-slider
include blocks/bubble-Slider/bubble-Slider
include blocks/toggle/toggle

doctype html
html
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width, shrink-to-fit=no")
    link( rel="apple-touch-icon" sizes="180x180" href=require("./favicons/apple-touch-icon.png"))
    link( rel="icon" type="image/png" sizes="32x32" href=require("./favicons/favicon-32x32.png"))
    link( rel="icon" type="image/png" sizes="16x16" href=require("./favicons/favicon-16x16.png"))
    link( rel="manifest" href="favicons/site.webmanifest")
    link( rel="mask-icon" href=require("./favicons/safari-pinned-tab.svg") color="#5bbad5")
    meta( name="msapplication-TileColor" content="#2d89ef")
    meta( name="theme-color" content="#ffffff")
    title UI-KIT
  body
    +site-header()
    h2.inform-header Скидки и акции
    .discount 
      .discount__block
        +header("скидка за каждую пломбу")   
        +percent(5) 
        +header("скидка на удаление зуба")
        +percent(20)
        +header("скидка на виниры")
        +percent(43)
        +header("скидка на брекеты")
        +percent(60)
      .discount__slider
        .discount__slider-range
          +header("Ваш возраст")
          +range-slider({min: 0, max: 100, step: 25, value: 75})
        .discount__slider_bubble
          +header("Количество зубов")
          +bubble-slider(0, 32, 1, 0)
        .discount__coupon
          +header("У Вас есть дисконтная карта?") 
          .discount__coupon-toggle
            +toggle("checked")   
