include blocks/site-blocks/recording-site/recording-site

doctype html
html
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width, shrink-to-fit=no")
    link( rel="apple-touch-icon" sizes="180x180" href=require("./favicons/apple-touch-icon.png"))
    link( rel="icon" type="image/png" sizes="32x32" href=require("./favicons/favicon-32x32.png"))
    link( rel="icon" type="image/png" sizes="16x16" href=require("./favicons/favicon-16x16.png"))
    link( rel="manifest" href="favicons/site.webmanifest")
    link( rel="mask-icon" href=require("./favicons/safari-pinned-tab.svg") color="#5bbad5")
    meta( name="msapplication-TileColor" content="#2d89ef")
    meta( name="theme-color" content="#ffffff")
    title UI-KIT
  body
    +recording-site({
      siteHeader:{
        headTitle: "Зубы на полку", 
        menu:[
          {
            link: "discount.html", 
            title: "скидки и акции"
          }, 
          {
            link: "recording.html", 
            title: "запись на прием"
          }, 
          {
            link: "online.html", 
            title: "онлайн консультация"
          }, 
          {
            link: "contacts.html", 
            title: "контакты"
          },
          {
            link: "staff.html", 
            title: "наши врачи"
          }
        ]
      },
      calendar:{
        dayNames: ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'], 
        firstDay: 1,
        buttonPanel:"true", 
        otherMonths:"true", 
        dateFormat: "dd", 
        gotoCurrent:"false"
      },
      title:"ваш пол", 
      tickOne:{
        name: "radio", 
        id:"one", 
        isChecked: true
      }, 
      tickTwo:{
        name: "radio", 
        id:"two", 
        isChecked: false
      },
      entryField:[
        {
          placeholder:"Ваше имя", 
          type:"text", 
          name:"form", 
          correct: true
        },
        {
          placeholder:"Ваша фамилия", 
          type:"text", 
          name:"form", 
          correct: false
        },
        {
          placeholder:"Ваше отчество", 
          type:"text", 
          name:"form", 
          correct: true
        },
        {
          placeholder:"Ваш номер телефона", 
          type:"tel", 
          name:"form", 
          correct: false
        }
      ],
      textArea:{
        placeholder:"Дополнительная информация", 
        name:"form"
      },
      button:{
        text: "отправить", 
        small: false, 
        green: true,
        bRipple: true
      }
    })
