include blocks/header/header
include blocks/buttons/buttons
include blocks/arrows/arrows
include blocks/percentages/percentages
include blocks/sliders/sliders
include blocks/stages/stages
include blocks/form/form
include blocks/entry-field/entry-field
include blocks/toggles-tick/toggles-tick
include blocks/users-profiles/users-profiles
include blocks/search-block/search-block
include blocks/news-events/news-events
include blocks/location/location
include blocks/calendar-message/calendar-message
include blocks/video-block/video-block

doctype html
html
	head
		meta(charset = "utf-8")
		meta(name="viewport", content="initial-scale=1.0, width=device-width, shrink-to-fit=no")
		link( rel="apple-touch-icon" sizes="180x180" href=require("./favicons/apple-touch-icon.png"))
		link( rel="icon" type="image/png" sizes="32x32" href=require("./favicons/favicon-32x32.png"))
		link( rel="icon" type="image/png" sizes="16x16" href=require("./favicons/favicon-16x16.png"))
		link( rel="manifest" href="./favicons/site.webmanifest")
		link( rel="mask-icon" href=require("./favicons/safari-pinned-tab.svg") color="#5bbad5")
		meta( name="msapplication-TileColor" content="#2d89ef")
		meta( name="theme-color" content="#ffffff")
		title UI-KIT
	body

		.content
			+buttons({header:"standard  buttons", buttons:[
				{text: "button", small: true, green: true, bRipple: true, fillGreen:true, fillRed:false},
				{text: "button", small: false, green: true, bRipple: true, fillGreen:true, fillRed:false},
				{text: "button", small: false, green: false, bRipple: true, fillGreen:false, fillRed:true},
				{text: "button", small: true, green: false, bRipple: true, fillGreen:false, fillRed:true},
				{text: "button", small: true, green: true, bRipple: false, fillGreen:true, fillRed:false},
				{text: "button", small: false, green: true, bRipple: false, fillGreen:true, fillRed:false},
				{text: "button", small: false, green: false, bRipple: false, fillGreen:false, fillRed:true},
				{text: "button", small: true, green: false, bRipple: false, fillGreen:false, fillRed:true},
				{text: "button", small: true, green: true, bRipple: false},
				{text: "button", small: false, green: true, bRipple: false},
				{text: "button", small: false, green: false, bRipple: false},
				{text: "button", small: true, green: false, bRipple: false}]})

			+arrows({header:"arrow buttons", arrows:[
				{right: false, disabled: false, hover: false},
				{right: true, disabled: false, hover: false},
				{right: false, disabled: true, hover: false},
				{right: true, disabled: true, hover: false},
				{right: false, disabled: false, hover: true},
				{right: true, disabled: false, hover: true}]})

			+percentages({header:"percentages / pie chart", percentages:[
				{num:0}, {num:38}, {num:62}, {num:89}
				], pie:{colorOne:"#4eb7a8", colorTwo:"#e75735", colorThree:"#747474", one:"70 30", two:"35 65", three:"11 89"}})

			+sliders({header:"sliders", bubble:{min:0, max:100, step:1, value:40}, range:{min:0, max:100, step:25, value:75}})

			+stages({header:"stages",  stage:{min:1, max:5, value:3}})

			.form
				+header({header:"form elements"})

				.form__block
					.form__element
						+form({field:[{placeholder:"Your Name", type:"text", name:"form", correct: false},
							{placeholder:"Your Email", type:"text", name:"form", correct: true}],
							textarea:{placeholder:"Your Message", name:"form"},
							button:{text: "submit", small: false, green: true}})

					.form__element
						+toggles-tick({toggleheader:"toggles", checkone:"", checksecond:"checked", tickheader:"tick boxes",
							tick:[{name: "radio", id:"one", checked: true}, {name: "radio", id:"two", checked: false}]}) 

					.form__element
						+search-block({header:"search / drop down", 
							search:[{placeholder:"Search", error:""},
							{placeholder:"I've not found what I'm looking for...", error:" search-error"}],
							select:{one:"This is option 1", two:"This is option 2", three:"This is option 3", four:"This is option 4"}})

					.form__element
						+users-profiles({header:"user profile", profiles:[
							{img:require("./blocks/user-profile/img/photo-man.png"), name:"John Smith", job:"ux designer", color:"", 
							webone:"/mock-address/change-me/", imgone:require("./blocks/user-profile/img/fb.svg"), altone:"FB",
							websecond:"/mock-address/change-me/", imgsecond:require("./blocks/user-profile/img/twitter.png"), altsecond:"Twitter",
							webthird:"/mock-address/change-me/", imgthird:require("./blocks/user-profile/img/dribbble.png"), altthird:"Dribbble"
							},
							{img:require("./blocks/user-profile/img/photo-woman.png"), name:"Sarah Brown", job:"developer", color:"green",
							webone:"/mock-address/change-me/", imgone:require("./blocks/user-profile/img/fb-white.png"), altone:"FB",
							websecond:"/mock-address/change-me/", imgsecond:require("./blocks/user-profile/img/twitter-white.png"), altsecond:"Twitter",
							webthird:"/mock-address/change-me/", imgthird:require("./blocks/user-profile/img/dribbble-white.png"), altthird:"Dribbble"}]})

			+news-events({header:"news & events",  
				news:{img:require("./blocks/news/img/photo-bike.png"), header: "It’s all going downhill", data: "24  august  2013",
				text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros."},
				event:{img:require("./blocks/event/img/photo-city.png"), header: "this is the title", dataNum: "24",
				dataMonth:"Aug", text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", buttonText:"add to calendar"}})

			+location({header: "location", map:{marker:require("./blocks/map/img/marker.png"), lat:37.795680, lng:-122.415021,
				zoom: 14, city:"1259  CALIFORNIA ST San Francisco, CA", title:"Meet us!"}})

			+calendar-message({calendarhead:"calendar", calendar:{dayNames: ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'],
				firstDay: 1, buttonPanel:"true",  otherMonths:"true",
				dateFormat: "dd", gotoCurrent:"false"}, messaginghead:"messaging",
				messaging:{text:"Hey! So are we cool to meet at the art gallery? Say 8pm",
				placeholder:"Yeah that sounds great. See you then.",
				foto:require("./blocks/message/img/photo-woman.png"), button:"reply"}})

			+video-block({header:"video", link:"https://player.vimeo.com/video/62980495"})