include blocks/header/header
include blocks/buttons/buttons
include blocks/arrows/arrows
include blocks/percentages/percentages
include blocks/sliders/sliders
include blocks/stage/stage
include blocks/form/form
include blocks/entry-field/entry-field
include blocks/text-area/text-area
include blocks/toggle/toggle
include blocks/tick/tick
include blocks/search-block/search-block
include blocks/search/search
include blocks/select/select
include blocks/user-profile/user-profile
include blocks/news-events/news-events
include blocks/map/map
include blocks/calendar/calendar
include blocks/message/message
include blocks/video/video

doctype html
html
	head
		meta(charset = "utf-8")
		meta(name="viewport", content="initial-scale=1.0, width=device-width, shrink-to-fit=no")
		link( rel="apple-touch-icon" sizes="180x180" href=require("./favicons/apple-touch-icon.png"))
		link( rel="icon" type="image/png" sizes="32x32" href=require("./favicons/favicon-32x32.png"))
		link( rel="icon" type="image/png" sizes="16x16" href=require("./favicons/favicon-16x16.png"))
		link( rel="manifest" href="./favicons/site.webmanifest")
		link( rel="mask-icon" href=require("./favicons/safari-pinned-tab.svg") color="#5bbad5")
		meta( name="msapplication-TileColor" content="#2d89ef")
		meta( name="theme-color" content="#ffffff")
		title UI-KIT
	body
		.content
			h1 Перевести все блоки в рем!!!!
			+buttons({header:"standard  buttons", buttons:[
				{text: "button", small: true, green: true},
				{text: "button", small: false, green: true},
				{text: "button", small: false, green: false},
				{text: "button", small: true, green: false}
			]})

			+arrows({header:"arrow buttons", arrows:[
				{right: false, disabled: false, hover: false},
				{right: true, disabled: false, hover: false},
				{right: false, disabled: true, hover: false},
				{right: true, disabled: true, hover: false},
				{right: false, disabled: false, hover: true},
				{right: true, disabled: false, hover: true}
			]})

			+percentages({header:"percentages / pie chart", percentages:[
									{num:0}, {num:38}, {num:62}, {num:89}
									], pie:{one:11, two: 26, three: 29}})

			+sliders({header:"sliders", bubble:{bmin:0, bmax:100, bstep:1, bvalue:40}, range:{rmin:0, rmax:100, rstep:1, value:40}})

			.stages
				+header({header:"stages"})
				.stages__block
					+stage()

			.form-elements
				+header({header:"form elements"})
				+form({field:[{placeholder:"Your Name", type:"text", name:"form", correct: false},
							{placeholder:"Your Email", type:"text", name:"form", correct: true}],
							textarea:{placeholder:"Your Message", name:"form"},
							button:{text: "submit", small: false, green: true}})

			.form-elements__togglesTick
				+header({header:"toggles"})
				.toggles__block
					.toggles__block_off
						+toggle()
					.toggles__block_on 
						+toggle("checked")
				+header({header:"tick boxes"})
				.tick-box
					+tick({name: "radio", id:"one", checked: true})
					+tick({name: "radio", id:"two", checked: false})   
			.clear 

			.form-elements__block_left
				+search-block({header:"search / drop down", 
											search:[{placeholder:"Search", error:""},
											{placeholder:"I've not found what I'm looking for...", error:" search-error"}],
											select:{first:"Pure CSS", second:"No JS", third:"Nice!"}})

			.form-elements__block_right 
				+header({header:"user profile"})
				+userProfile({img:require("./blocks/user-profile/img/photo-man.png"), name:"John Smith", job:"ux designer", color:"", 
											webone:"/mock-address/change-me/", imgone:require("./blocks/user-profile/img/fb.svg"), altone:"FB",
											websecond:"/mock-address/change-me/", imgsecond:require("./blocks/user-profile/img/twitter.png"), altsecond:"Twitter",
											webthird:"/mock-address/change-me/", imgthird:require("./blocks/user-profile/img/dribbble.png"), altthird:"Dribbble"
										})

				+userProfile({img:require("./blocks/user-profile/img/photo-woman.png"), name:"Sarah Brown", job:"developer", color:"green",
											webone:"/mock-address/change-me/", imgone:require("./blocks/user-profile/img/fb-white.png"), altone:"FB",
											websecond:"/mock-address/change-me/", imgsecond:require("./blocks/user-profile/img/twitter-white.png"), altsecond:"Twitter",
											webthird:"/mock-address/change-me/", imgthird:require("./blocks/user-profile/img/dribbble-white.png"), altthird:"Dribbble"
											})
			.clear  

			+news-events({header:"news & events",  
										news:{img:require("./blocks/news/img/photo-bike.png"), header: "It’s all going downhill", data: "24  august  2013",
										text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros."},
										event:{img:require("./blocks/event/img/photo-city.png"), header: "this is the title", dataNum: "24",
										dataMonth:"Aug", text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", buttonText:"add to calendar"}
										})

				//- .clear 
			.location
				+header({header:"location"})
				.location__block
					+map({marker:require("./blocks/map/img/marker.png"), lat:37.795680, lng:-122.415021, zoom: 14})

			.calendar-block
				+header({header:"calendar"})
				+calendar()

			.messaging
				+header({header:"messaging"})
				+message({text:"Hey! So are we cool to meet at the art gallery? Say 8pm", placeholder:"Yeah that sounds great. See you then.",foto:require("./blocks/message/img/photo-woman.png"), button:"reply"})
			.clear

			.video
				+header({header:"video"}) 
				+video("https://player.vimeo.com/video/62980495") 